.msg-section {
  width: 400px;
  height: 100px;
}

.chat-footer {
  position: absolute;
  bottom: 10px;
}

.chat-popup .MuiPaper-root {
  right: 0;
  bottom: 0;
  top: 40% !important;
  left: 70% !important;
}
